{% extends 'appblog/base.html' %} 
{% comment %} using pre-built base.html {% endcomment %}

{% load static %}
{% block content %}

<div class="col-sm-10">
<h3 class = "text-white my-5"> About page </h3>

{% comment %} adding random text {% endcomment %}

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto accusamus. Odit dolore, blanditiis fuga aspernatur voluptas beatae iusto asperiores, distinctio ab totam nemo, temporibus repellendus atque! Qui pariatur odit libero officiis cumque error fugiat illo, et totam autem impedit, ratione in, reprehenderit sint aperiam doloremque sit possimus magnam. Nulla.</p>
<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio minima earum ipsa rem perspiciatis temporibus deleniti delectus placeat voluptates minus eveniet, obcaecati, libero corporis nemo est veritatis vero quod, molestiae aliquid! Assumenda voluptas est tenetur. Perferendis, totam voluptatem. Ad, impedit deleniti nemo eligendi voluptatum cupiditate error nulla maxime.
</p>
</div>
{% endblock content %}